::-webkit-scrollbar {
    width: 2px;
    height: 6px;
    -webkit-transition: all 2s ease;
}

::-webkit-scrollbar:hover {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #0035c7;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
.color-primary {
    color: #0035c7!important;
}

.active {
    color: #0035c7!important;
}
.bg-gray-sec {
    background-color: #f0f0f0;
}
.bg-gray-sec-mod {
    background-color: #f9f9f9;
}

.eleg{
    font-family: 'ElegantIcons' !important;
}


.card-header a[aria-expanded=true] .icon-arrow-left:before {
    display: inline-block;
    transform: rotate(90deg);
}


.chevron-head{
    color: #0035c7;
    font-weight: 600;
    margin-right: .25rem;
}


.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: white;
  font-size: 14px;
}

.bar_content {
  display: inline-block;
  width: 100%;
  transform: translateX(100%);
  animation: move 50s linear infinite;
  padding-left: 50%;
  margin: 0 auto;
  white-space: nowrap;
}

.bar_content span{
  margin-right: 6rem;
}

.bar_content:hover  {
  animation-play-state: paused;
}

/* Create the animation */
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}



.site-section-cover {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    background-size: cover;
    background-position: center center;
}
.site-section-cover, .site-section-cover .container {
    position: relative;
    display: flex;
    align-items: center;
}
.site-section-cover, .site-section-cover .container>.row {
    height: calc(50vh - 100px);
    min-height: 670px;
}
@media only screen and (max-width:767px) {
    .site-section-cover, .site-section-cover .container>.row {
    height: calc(100vh - 196px);
    min-height: 650px;
}
}.site-section-cover.overlay {
    position: relative;
}
.site-section-cover.overlay:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}
.site-section-cover.the-group {
    background-image: url(../img/bg-img/img-b-2.png);
}
@media only screen and (max-width:767px) {
    .site-section-cover.the-group {
    background-image: url(../img/bg-img/img-b-2.png);
    height: calc(20vh - 196px);
    min-height: 200px;
    margin-top: 4rem;
}
}.section-cover {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    background-size: cover;
    background-position: center center;
}
.section-cover, .section-cover .container {
    position: relative;
    display: flex;
    align-items: center;
}
.section-cover, .section-cover .container>.row {
    height: calc(100vh - 120px);
    min-height: 100px;
}
@media (max-width:991.98px) {
    .section-cover, .section-cover .container>.row {
    height: calc(80vh - 196px);
    min-height: 100px;
}
}.section-cover.overlay {
    position: relative;
}
.section-cover.overlay:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
}
.scrolldown {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 2;
}
.scrolldown a {
    font-weight: 400;
    font-size: 1rem;
    color: #0035c7;
}
.scrolldown a:hover {
    color: #d1ac33;
}
@media (max-width:360px) {
    .scrolldown {
    position: absolute;
    bottom: -3rem;
    width: 100%;
    z-index: 10;
}
}@media (max-width:768px) {
    .scrolldown {
    position: absolute;
    bottom: -3.5rem;
    width: 100%;
    z-index: 10;
}
}.icon-zise {
    font-size: .7rem;
}

.icon-zise-sec-footer {
    font-size: .7rem;
}

.svg-wave {
    margin-top: 1rem;
    }
@media only screen and (max-width:767px) {
    .svg-wave {
    margin-top: 0;
}
}.svg-wave svg path {
    fill: #fff;
}
.sub {
    font-size: 14px;
    font-weight: 600!important;
    border-color: transparent;
}
.line-a-group {
    background-color: #cfcfcf;
    width: 100%;
    height: 1px;
    margin-top: 1rem;
}
.line-a-group-vert {
    background-color: #cfcfcf;
    width: 1px;
    height: 8rem;
}
.footer-line {
    background-color: #374645;
    width: 1px;
    height: 11rem;
    margin-top: .2rem;
    margin-left: -1rem;
    margin-right: 1rem;
}
.circle-img {
    position: absolute;
    right: 0;
    bottom: 9rem;
    height: 120%}
.circle-img img {
    height: 100%;
    width: auto;
}
.img-post {
    width: 450px;
    position: relative;
    margin: -7% 0 0 -25%;
    z-index: 2;
}
.img-team {
    width: 46%;
    position: absolute;
    z-index: 2;
    right: 15rem;
}
.img-team-figura {
    width: 40%;
    position: absolute;
    margin: -3rem 0 0 0;
    right: 0;
}
.img-ear {
    width: 410px;
    position: absolute;
    margin: -7% 0 0 -12%}
.img-figura-1 {
    width: 350px;
    position: absolute;
    margin: -16% 0 0 -42%}
.img-figura-2 {
    width: 450px;
    position: absolute;
    margin: -4.5rem 0 0 0;
    right: 0;
}
@media only screen and (max-width:767px) {
    .circle-img img {
    height: auto;
    width: 150px;
}
.img-post {
    width: 320px;
    margin: 70% 0 0 -4%;
    position: absolute;
}
.img-team {
    width: 85%;
    right: 2rem;
}
.img-team-figura {
    width: 60%;
    margin: -2rem 0 0 0;
    right: -7rem;
}
.img-ear {
    width: 220px;
    margin: -7% 0 0 -12%}
.img-figura-1 {
    width: 200px;
    margin: 65% 0 0 40%;
    position: absolute;
}
.img-figura-2 {
    width: 150px;
    margin: -6% 0 0 0;
}
}.content-card-2016 {
    width: 85%;
    float: right;
}
.marg-2016 {
    margin: 2rem 0;
}
@media only screen and (max-width:767px) {
    .content-card-2016 {
    width: 70%}
.marg-2016 {
    margin: 1rem 0;
}
}.parrafo {
    margin-right: -5rem;
}
.parrafo-a {
    padding-left: 4rem;
    margin-right: 3rem;
}
.parrafo-lo {
    padding-left: 1rem;
    margin-right: 8rem;
}
@media only screen and (max-width:767px) {
    .parrafo {
    margin-right: -5rem;
    text-align: center;
    padding: 0 2rem;
}
.parrafo-a {
    padding-left: 4rem;
    margin-right: 3rem;
}
.parrafo-lo {
    padding-left: 1rem;
    margin-right: 8rem;
}
}.marg-phill {
    margin-top: 15rem;
}
.mega-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: none;
    margin-bottom: -1.07rem;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
.megamenu-li {
    margin-left: 3rem;
}
.megamenu-li-about {
    margin-left: 24rem;
}
@media only screen and (max-width:767px) {
    .megamenu-li {
    margin-left: 2rem;
}
.megamenu-li-about {
    margin-left: 2rem;
}
}.img-logo {
    width: 85%}
.hover a .img-logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover a:hover .img-logo {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.mbot {
    margin-top: 5rem;
}
@media only screen and (max-width:767px) {
    .mbot {
    margin-top: 1.5rem;
}
}.span-infini {
    background-color: #fff;
    padding-right: 1rem;
    color: #0035c7;
}
@media only screen and (max-width:767px) {
    .span-infini {
    padding-right: .5rem;
    padding-bottom: .5rem;
    display: inline-block;
}
}

.with-p {
    width: 730px;
}
@media only screen and (max-width:767px) {
    .with-p {
    width: auto;
}
}.brand-movil {
    position: absolute;
    top: 15px;
    left: 35px;
    z-index: 12;
    display: none;
}
@media only screen and (max-width:767px) {
    .brand-movil {
    display: block;
}
}.icon-a-g {
    width: 30px;
    float: right;
    margin-top: 4rem;
}
.icon-location {
    width: 20px;
    float: left;
    position: absolute;
    margin-left: -2rem;
    margin-top: .6rem;
}
.error {
    font-size: 12px;
    margin-left: 1rem;
}
.switch-lang {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 37px;
    border-radius: 37px;
    background-color: #0035c7;
    cursor: pointer;
    transition: all .3s;
    overflow: hidden;
    border: .1px solid #f4f4f4;
}
.switch-lang input {
    display: none;
}
.switch-lang input:checked+div {
    left: 45px;
}
.switch-lang div {
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 37px;
    background-color: #fff;
    content: 'Esp';
    left: 0;
    transition: all .3s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}
.switch-lang div:after, .switch-lang div:before {
    position: absolute;
    content: 'Esp';
    width: 30px;
    height: 37px;
    line-height: 31px;
    font-family: "Baloo Chettan 2", cursive;
    font-size: 17px;
    font-weight: 400;
}
.switch-lang div:before {
    content: 'Eng';
    color: #fff;
    left: 110%}
.switch-lang div:after {
    content: 'Esp';
    right: 100%;
    color: #fff;
}
.switch-lang-checked {
    background-color: #0035c7;
}
.switch-lang-foo {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 37px;
    border-radius: 37px;
    background-color: #0035c7;
    cursor: pointer;
    transition: all .3s;
    overflow: hidden;
    border: .1px solid #f4f4f4;
}
@media only screen and (max-width:767px) {
    .switch-lang-foo {
    margin-left: 7rem;
}
}.switch-lang-foo input {
    display: none;
}
.switch-lang-foo input:checked+div {
    left: 45px;
}
.switch-lang-foo div {
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 37px;
    background-color: #fff;
    content: 'Esp';
    left: 0;
    transition: all .3s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}
.switch-lang-foo div:after, .switch-lang-foo div:before {
    position: absolute;
    content: 'Esp';
    width: 30px;
    height: 37px;
    line-height: 31px;
    font-family: "Baloo Chettan 2", cursive;
    font-size: 17px;
    font-weight: 400;
}
.switch-lang-foo div:before {
    content: 'Eng';
    color: #fff;
    left: 110%}
.switch-lang-foo div:after {
    content: 'Esp';
    right: 100%;
    color: #fff;
}
.switch-lang-foo-checked {
    background-color: #0035c7;
}
.icon-link-m {
    font-size: 20px;
    color: #0035c7;
    margin-right: 1.5rem;
}
.d-none {
    display: inline-block;
}
@media (min-width:1200px) {
    .d-none {
    display: none;
}
}@media only screen and (max-width:767px) {
    #nav {
    padding-bottom: 0;
}
}@media only screen and (max-width:767px) {
    .card-deck {
    width: 90%}
}.mySlides {
    display: none;
}
.slideshow-container {
    position: absolute;
    width: 55%;
    margin-top: 10rem;
    right: 0;
    top: 0;
}
.next-ca, .prev-ca {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -10%;
    color: #0035c7;
    font-weight: 700;
    font-size: 100px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1000;
}
.next-ca img, .prev-ca img {
    width: 45px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
.next-ca img:hover, .prev-ca img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.prev-ca {
    top: 0;
    left: -10rem;
}
.next-ca {
    top: 25%;
    left: -10rem;
}
.next-ca:hover, .prev-ca:hover {
    color: #d8b836;
    text-decoration: none;
    outline: 0;
    font-size: 100px;
}
.prev-ca:hover {
    left: -10.5rem;
}
.next-ca:hover {
    left: -9.5rem;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}
.icon-p-b {
    font-size: 100px;
}
.active-ca, .dot:hover {
    background-color: #717171;
}
.fade-ca {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade {
    from {
    opacity: .6;
}
to {
    opacity: 1;
}
}@keyframes fade {
    from {
    opacity: .6;
}
to {
    opacity: 1;
}
}@media only screen and (max-width:300px) {
    .next-ca, .prev-ca, .text-ca {
    font-size: 11px;
}
}.content-hover {
    position: relative;
    transition: .5s;
    padding: 1.5rem;
    width: 15rem;
}
.content-hover-2 {
    position: relative;
    cursor: pointer;
    transition: .5s;
}
.content-hover-2 .face {
    transition: .5s;
}
.content-hover-2 .face.face1 {
    position: absolute;
    display: flex;
    justify-content: left;
    z-index: 1;
    transform: translateY(30px);
}
.content-hover-2:hover .face.face1 {
    transform: translateY(-55px);
}
.content-hover-2 .face.face1 .content {
    transition: .5s;
    margin-top: 5rem;
    margin-left: 2rem;
    opacity: 1;
}
.content-hover-2 .face.face2 {
    opacity: 1;
    z-index: 50;
    padding: 2rem;
}
.content-hover-2 .card-footer {
    border: 0;
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}
.content-hover-2 .card-footer .uza-btn {
    padding: 0 20px;
}
.content-hover-2:hover .face.face2 {
    opacity: 1;
}
.marg-ex {
    margin-bottom: 80px;
}
@media only screen and (max-width:767px) {
    .marg-ex {
    margin-bottom: 20px;
}
}.contenedor {
    height: 60%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    padding: 2rem 0;
    padding-bottom: 5rem;
}
.cent {
    margin-left: auto;
    margin-right: auto;
}
.swiper-container {
    width: 280px;
    height: 100%;
    overflow: visible!important;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition:all 1s ease; 
                -moz-transition:all 1s ease; 
                -o-transition:all 1s ease;
                -ms-transition:all 1s ease; 
    height: 320px;
    border-radius: 30px;
    border: 1.5px solid;
    border-color: #E0E0E0;
}
.swiper-slide-active {
    -webkit-transition:all 1s ease; 
                -moz-transition:all 1s ease; 
                -o-transition:all 1s ease;
                -ms-transition:all 1s ease; 
}


.swiper-pagination-bullet-active {
    background-color: #0035c7!important;
    width: 55px!important;
    border-radius: 10px!important;
    opacity: 1!important;
    margin-bottom: 1rem;
}
.swiper-pagination-bullet {
    opacity: 0;
    background: 0 0;
    height: 11px;
    width: 55px;
}
.selector {
    width: auto;
    margin-top: 1.5rem;
    margin-left: 2rem;
    height: 11px;
    background: #e0e0e0;
    opacity: 1;
    border-radius: 10px;
}
.owl-dots {
    display: none;
    text-align: center;
    padding-top: 15px;
    width: auto;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    height: 11px;
    background: #e0e0e0;
    opacity: 1;
    border-radius: 10px;
}
@media only screen and (max-width:767px) {
    .owl-dots {
    display: block;
}
}.owl-dots .owl-dot {
    width: 67px;
    height: 15px;
    border-radius: 10px;
    display: inline-block;
    background: 0 0;
    margin-top: -1rem;
}
@media only screen and (max-width:375px) {
    .owl-dots .owl-dot {
    width: 59px;
}
}.owl-dots .owl-dot.active {
    background-color: #0035c7!important;
    width: 55px!important;
    border-radius: 10px!important;
    opacity: 1!important;
    margin-bottom: 1rem;
}
.owl-dots .owl-dot:focus {
    outline: 0;
}
.clients-feedback-area {
    width: 100%}
.lateral-text-esp {
    margin-right: -7.2rem;
}
.images {
    margin-bottom: 5rem;
    margin-top: 6rem;
}
@media only screen and (max-width:767px) {
    .images {
    margin-bottom: 14rem;
    margin-top: 5rem;
}
}.img-NV {
    width: 900px;
    position: relative;
    z-index: 0;
    margin-top: -3rem;
    margin-left: -14.5rem;
    left: 0;
    border-radius: 15px;
}
@media only screen and (max-width:767px) {
    .img-NV {
    width: 700px;
    margin-left: -4.5rem;
}
}.img-NV-2 {
    width: 370px;
    position: absolute;
    z-index: 2;
    margin-top: -6rem;
    margin-right: -5rem;
    right: 0;
    border-radius: 15px;
}
@media only screen and (max-width:767px) {
    .img-NV-2 {
    width: 150px;
    margin-right: 0;
    margin-left: 1rem;
    margin-top: 6rem;
    left: 0;
}
}.img-NV-3 {
    width: 500px;
    position: absolute;
    z-index: 4;
    margin-top: 9rem;
    margin-right: -25rem;
    right: 0;
    border-radius: 15px;
}
@media only screen and (max-width:767px) {
    .img-NV-3 {
    width: 280px;
    margin-right: -5rem;
    z-index: 0;
}
}

.letra-outline {
    -webkit-text-stroke: 0.1rem #EFEFEF;
    font-size: 180px;
    font-weight: 400;
    position: absolute;
    margin-top: -18rem;
    width: 100%;
    margin-left: -40rem;
    z-index: -2;
    color: #fff;
}

@media only screen and (max-width:767px) {
    .letra-outline {
    font-size: 90px;
    margin-top: -13rem;
    margin-left: -15rem;
   }
}

.letra-outline-ex {
    -webkit-text-stroke: 0.1rem #EFEFEF;
    font-size: 200px;
    font-weight: 400;
    position: absolute;
    margin-top: -8rem;
    width: 200%;
    margin-left: -5rem;
    z-index: -2;
    color: #fff;
}
@media only screen and (max-width:767px) {
    .letra-outline-ex {
    font-size: 80px;
    margin-top: -4rem;
    margin-left: -20rem;
}
}
.numero-outline {
    -webkit-text-stroke: 0.1rem #EFEFEF;
    font-size: 145px;
    font-weight: 600;
    position: absolute;
    margin-top: 4rem;
    margin-left: 19rem;
    color: transparent;
}
@media only screen and (max-width:767px) {
    .numero-outline {
    font-size: 100px;
    margin-top: 8.5rem;
    margin-left: 2.5rem;
}
}

.img-exper{
    width: 90%;
}

.margin-auto{
    margin-top: auto;
    margin-bottom: auto;
}


.content-hover{
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    padding: 1.5rem;
    width: 15rem;
    margin: -1.5rem 0.8rem 0 0.8rem;
}

.content-hover .face{
   
    transition: 0.5s;
}

.content-hover .face.face1{
    position: absolute;
    display: flex;
    justify-content: left;
    z-index: 1;
    transform: translateY(30px);
}

.content-hover:hover .face.face1{
    transform: translateY(-35px);
}


.content-hover .face.face1 .content{
    transition: 0.5s;
    margin-top: 5rem;
    margin-left: 2rem;
    opacity: 1;
}

.content-hover:hover .face.face1 .content{
    opacity: 0;
}

.content-hover .face.face1 .content img{
    max-width: 60px;
}

.content-hover .face.face1 .content h3{
    
    padding: 0;
    color: #5D5C60;
    text-align: left;
    font-size: 20px;
    font-weight: 450;
    bottom: 0;
    margin-top: 1rem;

}

.content-hover .face.face2{
    transform: translateY(50px);
    opacity: 0;
    z-index: 50
}

.content-hover:hover .face.face2{
    opacity: 1;
    transform: translateY(0px);
}






.content-hover-2{
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.content-hover-2 .face{
   
    transition: 0.5s;
}

.content-hover-2 .face.face1{
    position: absolute;
    display: flex;
    justify-content: left;
    z-index: 1;
    transform: translateY(30px);
}

.content-hover-2:hover .face.face1{
    transform: translateY(-55px);
}


.content-hover-2 .face.face1 .content{
    transition: 0.5s;
    margin-top: 5rem;
    margin-left: 2rem;
    opacity: 1;
}


.content-hover-2 .face.face2 .content img{
    max-width: 60px;
}

.content-hover-2 .face.face2 .content h3{
    line-height: 1;
    padding: 0;
    color: #5D5C60;
    text-align: left;
    font-size: 25px;
    font-weight: 100;
    margin-top: 1rem;
}

@media only screen and (max-width:767px) {
    .content-hover-2 .face.face2 .content h3{
    line-height: 1;
    padding: 0;
    color: #0B0E17;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin-top: 1rem;
}
}

.content-hover-2 .face.face2 .content p span{
    color: #E7CF49;
}

.content-hover-2 .face.face2 .content p{
    color: #0B0E17;
    text-align: center;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 1rem;
  }

@media only screen and (max-width:767px) {
    .content-hover-2 .face.face2 .content p{
    color: #5D5C60;
    text-align: left;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 1rem;
  }
}


.content-hover-2 .face.face2{
    opacity: 1;
    z-index: 50;
    padding: 2rem;
    text-align: center;
}

.content-hover-2 .card-footer{
    border: 0;
    background-color: #ffffff;
    padding:2rem;
    text-align: center;
}
@media only screen and (max-width:767px) {
    .content-hover-2 .card-footer{
    text-align: left;
    }
}


.content-hover-2 .card-footer .uza-btn{
    padding: 0 20px;
}

.content-hover-2:hover .face.face2{
    opacity: 1;
}


.content-hover-des .face{
   
    transition: 0.5s;
}

.content-hover-des .face.face1{
    position: absolute;
    display: flex;
    justify-content: left;
    z-index: 1;
    transform: translateY(30px);
}

.content-hover-des:hover .face.face1{
    transform: translateY(-35px);
}


.content-hover-des .face.face1 .content{
    transition: 0.5s;
    margin-top: 5rem;
    margin-left: 2rem;
    opacity: 1;
}

.content-hover-des:hover .face.face1 .content{
    opacity: 0;
}

.content-hover-des .face.face1 .content img{
    max-width: 60px;
}

.content-hover-des .face.face1 .content h3{
    
    padding: 0;
    color: #5D5C60;
    text-align: left;
    font-size: 20px;
    font-weight: 450;
    bottom: 0;
    margin-top: 1rem;

}

.content-hover-des .face.face2{
    transform: translateY(50px);
    opacity: 0;
    z-index: 50
}

.content-hover-des:hover .face.face2{
    opacity: 1;
    transform: translateY(0px);
}






.content-hover-des-2{
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.content-hover-des-2 .face{
   
    transition: 0.5s;
}

.content-hover-des-2 .face.face1{
    position: absolute;
    display: flex;
    justify-content: left;
    z-index: 1;
    transform: translateY(30px);
}

.content-hover-des-2:hover .face.face1{
    transform: translateY(-55px);
}


.content-hover-des-2 .face.face1 .content{
    transition: 0.5s;
    margin-top: 5rem;
    margin-left: 2rem;
    opacity: 1;
}


.content-hover-des-2 .face.face2 .content img{
    max-width: 60px;
}

.content-hover-des-2 .face.face2 .content h3{
    line-height: 1;
    padding: 0;
    color: #5D5C60;
    text-align: left;
    font-size: 25px;
    font-weight: 100;
    margin-top: 1rem;
}

.content-hover-des-2 .face.face2 .content p span{
    color: #E7CF49;
}

.content-hover-des-2 .face.face2 .content p{
    color: #5D5C60;
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 1rem;
  }

.content-hover-des-2 .face.face2{
    opacity: 1;
    z-index: 50;
    padding: 2rem;
}

.content-hover-des-2 .card-footer{
    border: 0;
    background-color: #ffffff;
    padding:2rem;
    text-align: center;
}

.content-hover-des-2 .card-footer .uza-btn{
    padding: 0 20px;
}

.content-hover-des-2:hover .face.face2{
    opacity: 1;
}



.line-h-1{
    line-height: 1;
}

.lift {
  -webkit-transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.lift:hover {
  -webkit-transform: translateY(-0.3333333333rem);
          transform: translateY(-0.3333333333rem);
}
.lift:active {
  -webkit-transform: none;
          transform: none;
}

.lift-2 {
  -webkit-transition: box-shadow 0.05s ease-in-out, -webkit-transform 0.05s ease-in-out;
  transition: box-shadow 0.05s ease-in-out, -webkit-transform 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out, box-shadow 0.05s ease-in-out, -webkit-transform 0.05s ease-in-out;
}
.lift-2:hover {
-webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
        transform: scale(1.04);
}
.lift-3 {
  -webkit-transition: box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.lift-3:hover {
-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.lift-grafi {
  -webkit-transition: box-shadow 0.50s ease-in-out, -webkit-transform 0.50s ease-in-out;
  transition: box-shadow 0.50s ease-in-out, -webkit-transform 0.50s ease-in-out;
  transition: transform 0.50s ease-in-out, box-shadow 0.50s ease-in-out;
  transition: transform 0.50s ease-in-out, box-shadow 0.50s ease-in-out, -webkit-transform 0.50s ease-in-out;
}
.lift-grafi:hover {
-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.lift-grafi:focus {
-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
}


@-webkit-keyframes rotate {
     from {
       -webkit-transform: rotate(0deg);
     }
     to { 
       -webkit-transform: rotate(360deg);
     }
}

.element{
    transition-property: transform;
    transition-duration: 1s
    -webkit-transition:all 1s ease; 
                -moz-transition:all 1s ease; 
                -o-transition:all 1s ease;
                -ms-transition:all 1s ease; 

}
.padd-reno-b:hover .element{
       -webkit-animation-name:             rotate; 
       -webkit-animation-duration:         2s; 
       -webkit-animation-iteration-count:  infinite;
       -webkit-transition-timing-function: linear;
       }


