.horizontal-parent {
  top: -1rem;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.horizontal-child {
  position: relative;
      background-color: #ddd;
  display: block;
  width: 100vh;
  height: 80vw;
  overflow: scroll;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: rotate(-90deg) translateY(-65vh);
          transform: rotate(-90deg) translateY(-65vh);
}
.horizontal-child .slide {
  width: 100vw;
  height: calc(100vh - 2rem);
  padding: 3rem 1rem 2rem;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-column-width: 350px;
     -moz-column-width: 350px;
          column-width: 350px;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  font-size: 1.3rem;
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
}
