/* :: Empresas */

.sec-emp-1 {
    position: relative;
    z-index: 0;
    padding: 4rem 0 2rem 0;

    @media #{$breakpoint-xs} {
        padding: 1rem 0 1rem 0;
    }

    .container{
        padding: 0;
        .sec-1{
            padding: 0 2.5rem;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        text-align: center;

        h2 {
            font-size: 30px;
            font-weight: 400;
            margin: 1rem 0;
            color: $c-gray;    

            span{
                font-weight: 500;
            }    

            @media #{$breakpoint-xs} {
                font-size: 30px;
                font-weight: 300;
            }
        }

        h3 {
            font-size: 25px;
            font-weight: 400;
            margin: 1rem 0;
            color: $c-gray;    
             

            @media #{$breakpoint-xs} {
                margin: 1rem auto;
                font-size: 23px;
                width: 70%;
            }
        }

        p{
            line-height: 1.5;
            font-size: 16px;
            font-weight: normal;
            width: 85%;
            margin: auto;
            margin-bottom: 2rem;
        }
    }

    .border-line {
        width: 50%;
        margin: auto;
        height: 1px;
        background-color: $bg-gray;
    }

    .card-content {

        .card{
            @include transition-duration(500ms);
            border: 1px solid;
            border-color: #E0E0E0;
            height: auto;
            border-radius: 25px;
            cursor: default;
            margin: 1rem 0;

            &:hover{
                border-color: $primary;
            }

            .card-header{
                background-color: transparent;
                border: none;
                padding: 1.25rem 1.25rem;
                text-align: center;                
                height: 87px;


                h3{
                    font-size: 18px;
                    font-weight: 400;
                    margin: 0;
                    color: $c-gray; 

                    &.center{
                        margin: 0.7rem 0 0 0;
                    }
                }

                img{
                    width: 15px;
                    margin-top: 0.5rem;
                    left: 0;
                    position: absolute;
                }
            }
        }
    }
}

.sec-emp-2 {
    position: relative;
    z-index: 0;
    padding: 4rem 0;
    background-color: #F4F4F4;

    @media #{$breakpoint-xs} {
        padding: 1rem 0 1rem 0;
    }

    .container{
        padding: 0;
        .sec-1{
            padding: 0 2.5rem;
        }
    }

    .title {
        position: relative;
        z-index: 1;
        text-align: center;

        h2 {
            font-size: 35px;
            font-weight: 500;
            margin: 1rem 0;
            color: $c-gray; 

            span{
                font-weight: 300;    
            }       

            @media #{$breakpoint-xs} {
                font-size: 30px;
            }
        }
    }

    .border-line {
        width: 100%;
        height: 1px;
        background-color: $bg-gray;
    }

    .nl-content {
        position: relative;
        z-index: 1;

        h2 {
            font-size: 55px;
            display: block;
            font-weight: 400;
            margin-bottom: 0;
            color: $c-gray;        

            @media #{$breakpoint-xs} {
                font-size: 40px;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 1.5;
            margin-right: 1rem;

            @media #{$breakpoint-xs} {
                font-size: 14px;
                margin-right: 1rem;
            }

        }

    }
}

.sec-emp-3 {
    position: relative;
    z-index: 0;
    padding: 3rem 0;

    @media #{$breakpoint-xs} {
        padding: 1rem 0 1rem 0;
    }

    .container{
        padding: 0;
        .sec-1{
            padding: 0 2.5rem;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        text-align: center;

        h2 {
            font-size: 45px;
            font-weight: 500;
            margin: 1rem 0;
            color: $c-gray;  

            span{
                font-weight: 300;
            }      

            @media #{$breakpoint-xs} {
                margin: 1rem auto;
                font-size: 23px;
                width: 70%;
            }
        }

        h4 {
            font-size: 18px;
            font-weight: 400;
            margin: 1rem 0;
            color: $c-gray;
            margin: 2rem auto;
            width: 75%;     

            @media #{$breakpoint-xs} {
                font-size: 18px;
                width: 80%;
            }
        }
    }

    .cripto{
            width: 140%;
            max-width: 200%;
            position: absolute;
            z-index: -1;
            margin-top: -18.5rem;
            right: 0;
            margin-right: -16rem;

            @media #{$breakpoint-xs} {
                width: 200%;
                margin-top: -24rem;
                margin-right: -22rem; 
            }
    }
}

.sec-emp-4 {
    position: relative;
    z-index: 0;
    padding: 6rem 0;
    background-color: #0B0E17;

    @media #{$breakpoint-xs} {
        padding: 25rem 0 4rem 0;
    }

    .container{
        padding: 0;
        .sec-1{
            padding: 0 2.5rem;
        }
    }

    .content {
        position: relative;
        z-index: 1;

        h2 {
            font-size: 23px;
            font-weight: 400;
            margin: 1rem 0;
            color: $white;      

            @media #{$breakpoint-xs} {
                font-size: 20px;
            }
        }
    }

    .movil{
        
        @media #{$breakpoint-xs} {
            margin-top: -3rem;
        }
    }
    .puntos-h{
            width: 100%;
            max-width: 200%;
            position: absolute;
            z-index: -1;
            margin-top: -10rem;
            left: 0;
            margin-left: -7rem;

            @media #{$breakpoint-xs} {
                width: 120%;
                margin-top: -24rem;
                margin-right: -20rem;
            }
        }

        .moneda{
            position: absolute;
            z-index: 2;
            right: 0;  

            &.a{
                width: 27%;
                margin-top: -10rem;
                margin-left: 15rem;
                left: 0;
                -webkit-animation: mover 2.5s infinite alternate ;
                animation: mover 2.5s infinite alternate ;

                @media #{$breakpoint-xs} {
                    width: 30%;
                    margin-top: -22rem;
                    margin-left: 8rem;
                }

            }

            &.b{
                width: 23%;
                margin-top: 3rem;
                left: 0;
                margin-left: 18.5rem;
                -webkit-animation: mover 2.7s infinite alternate ;
                animation: mover 2.7s infinite alternate ;

                @media #{$breakpoint-xs} {
                    width: 30%;
                    margin-top: -10rem;
                    margin-left: 11rem;
                }

            }

        }

        @-webkit-keyframes mover {
            0% {
          transform: translateY(10px);
          }
          50% {
          transform: translateY(30px);
          }
          100% {
          transform: translateY(10px);
          }
        }
        @keyframes mover {
           0% {
          transform: translateY(10px);
          }
          50% {
          transform: translateY(30px);
          }
          100% {
          transform: translateY(10px);
          }
        }


        .plus{
            position: absolute;
            z-index: 2;
            right: 0;

            &.a{
                width: 8%;
                margin-top: -5rem;
                margin-left: 28rem;
                left: 0;

                @media #{$breakpoint-xs} {
                    margin-top: -21rem;
                    margin-left: 21rem;
                }
            }

            &.b{
                width: 3%;
                margin-top: 1rem;
                margin-left: 30rem;
                left: 0;

                @media #{$breakpoint-xs} {
                    width: 4%;
                    margin-top: -15rem;
                    margin-left: 21rem;
                }
            }

            &.c{
                width: 5%;
                margin-top: 4rem;                
                margin-left: 13rem;
                left: 0;

                @media #{$breakpoint-xs} {
                    width: 6%;
                    margin-top: -11rem;
                    margin-left: 4rem;
                }
            }

            &.d{
                width: 2.5%;
                margin-top: 2rem;
                left: 0;
                margin-left: 10rem;

                @media #{$breakpoint-xs} {
                    width: 2.5%;
                    margin-top: -13rem;
                    margin-left: 2.5rem;
                }
            }

        }

        .chevron{
            position: absolute;
            z-index: 2;
            right: 0;

            &.a{
                width: 6%;
                margin-top: -9rem;
                margin-left: 12rem;
                left: 0;
                -webkit-animation: mover-x 2.5s infinite  alternate;
                animation: mover-x 2.5s infinite  alternate;

                @media #{$breakpoint-xs} {
                    width: 9%;
                    margin-top: -20rem;
                    margin-left: 4rem;
                }
            }

            &.b{
                width: 6%;
                margin-top: 5rem;
                margin-left: 30rem;
                left: 0;
                -webkit-animation: mover-x2.7s infinite  alternate;
                animation: mover-x2.7s infinite  alternate;

                @media #{$breakpoint-xs} {
                    width: 13%;
                    margin-top: -10rem;
                    margin-left: 20rem;
                }
            }
        }

        @-webkit-keyframes mover-x {
            0% {
          transform: translateX(10px);
          }
          50% {
          transform: translateX(30px);
          }
          100% {
          transform: translateX(10px);
          }
        }
        @keyframes mover-x {
           0% {
          transform: translateX(10px);
          }
          50% {
          transform: translateX(30px);
          }
          100% {
          transform: translateX(10px);
          }
        }

    .card{
        @include transition-duration(500ms);
        border: none;
        background-color: transparent;

        .card-header{
            background-color: transparent;
            border: none;
            padding: 1rem 0;
            
            a{
                color: $white;
                text-align: left;
                font-size: 20px;
                font-weight: 300;

                span{
                 color: $primary;
                 font-weight: 800;
                 font-size: 14px;
                 margin-right: 1rem;
                 @include transition-duration(500ms);
                }

            }
        }

        .card-body{
            padding: 1rem 1rem 0 1rem;
            background-color: transparent;

            p{
                line-height: 1.5;
                font-size: 15px;
                text-align: left;
                color: $white;
                margin: 0 0 1rem 0;
            }          
        }

        .card-footer{
            background-color: transparent;
            border-top: none;
        }

    }

}