/* :: 7.0 Header CSS */

.header-area {
    position: relative;
    z-index: 600;
    width: 100%;
    left: 0;
    top: 0;
    @include transition-duration(500ms);

    .dropdown {


        .dropdown-menu {        
            border:none;
            border-radius: 0;
            padding: 0 0 0.5rem 0;
            border-bottom: 2px solid;
            border-color: #0027a5;
            &.block{
              display: block;
              @media #{$breakpoint-xs} {
               display: none;        
              } 
            }
            &:hover{
                display: block;
                }
                
            @media #{$breakpoint-xs} {
               padding: 1rem 0;
               border-top: none;         
            } 
        }  
    }

    .main-header-area.sticky-menu {        
        background-color: $white;       

        .classy-nav-container {

            .logo-head {
               width: 150px;
               @media #{$breakpoint-xs} {
                    width: 120px;
                }
            }
        
            .classy-navbar {

                .classy-navbar-toggler .navbarToggler span {
                    background-color: $bg-gray;
                }

                .classynav ul li {
                    a {

                        i{
                        line-height: 3;
                        }
                      
                        &.item-menu{
                            position: relative;
                            z-index: 1;
                            font-weight: 300;
                            font-size: 15px;
                            text-transform: capitalize;
                            color: $c-gray;
                            margin: 16px 0;

                            @media #{$breakpoint-xs} {
                                font-size:25px;
                                margin: 16px 0;
                            }
                        }

                
                        &.link {
                            position: relative;
                            z-index: 1;
                            font-size: 16px;
                            color: $c-gray;
                            display: inline-flex;
                            font-weight: 300;
                            width: auto;
                            margin-left: 1.5rem;
                            margin-bottom: 2%;

                            @media #{$breakpoint-xs} {
                                width: auto;
                                font-size: 15px;
                            }
                        }

                        &.link:hover{
                        color: $primary;
                        }

                    }

                }
            }
        }
    }
}


.mega-menu-text {
        position: relative;
        z-index: 1;
        @media #{$breakpoint-xs} {            
            
        }
        h2 {
            font-size: 52px;
            display: inline-block;
            margin-bottom: 30px;
            color: #D2D2D2;
            font-weight: 400;
            line-height: 1;

            @media #{$breakpoint-lg} {
                font-size: 48px;
            }

            @media #{$breakpoint-md} {
                font-size: 42px;
            }

            @media #{$breakpoint-sm} {
                font-size: 42px;
            }

            span {
                color: $primary;
            }
        }
   
 }



.classy-nav-container {
    background-color: transparent;
    padding: 0;
    
    .logo-head {
       width: 150px;
       @media #{$breakpoint-xs} {
             width: 120px;
        }
    }

    @media #{$breakpoint-xs} {
        padding: 0 15px;
    }

    .classy-navbar {
        height: auto;
        padding: 0 0 0 0.7rem;

        &.index{
            margin-top: 3rem;
            @media #{$breakpoint-xs} {
             margin-top: 0;
            }
        }

        @media #{$breakpoint-xs} {
            height: 70px;
            padding: 0 5%;
        }

        .nav-brand {
            margin-left: 0.4rem;
            @media #{$breakpoint-xs} {
                max-width: 150px;
                margin-right: 15px;
            }
        }

        .classynav ul li {
            a {
                i{
                    line-height: 3;
                }
              
                &.item-menu{
                    position: relative;
                    z-index: 1;
                    font-weight: 300;
                    font-size: 15px;
                    text-transform: capitalize;
                    color: $white;
                    margin: 16px 0;

                    &:focus,
                    &:hover {
                        color: $hover;
                    }

                    @media #{$breakpoint-xs} {
                            font-size: 25px;
                            color:$c-gray;
                            margin: 16px 0;
                    }

                } 

                &.link {
                    position: relative;
                    z-index: 1;
                    font-size: 16px;
                    color: $c-gray;
                    display: inline-flex;
                    font-weight: 300;
                    width: auto;
                    margin-left: 1.5rem;
                    margin-bottom: 2%;

                    @media #{$breakpoint-xs} {
                        width: auto;
                    }
                }

                &.link:hover{
                    color: $primary;
                }

            
            }


            &.current-item {
                a {                    
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2.5px;
                        background-color: none;
                        margin-bottom: -1.07rem;
                        bottom: 0;
                        left: 50%;
                        @include transform(translateX(-50%));
                        z-index: 1;

                        @media #{$breakpoint-md} {
                            width: 100%;
                            height: 1px;
                        }

                        @media #{$breakpoint-xs} {
                            width: 100%;
                            height: 1px;
                        }
                    }
                }
            }
        }
    }
}

.classynav ul li.has-down > a::after,
.classynav ul li.has-down.active > a::after,
.classynav ul li.megamenu-item > a::after {
    color: $heading;
}

.breakpoint-off .classynav ul li .dropdown {
    width: 210px;
    @include box-shadow($box-shadow);
    border-radius: 6px;
}



.menu-icon-social{
    text-align: center;
    padding: 1rem 0;
            a {
                    display: inline-block;
                    color: $primary;
                    font-size: 45px;
                    margin-right: 10px;
                    width: 45px;
                    height: 45px;
                    text-align: center;
                    border-radius: 50%;
                    line-height: 40px;


                    @media #{$breakpoint-xs} {
                        font-size: 40px;
                        margin-right: auto;
                        width: 60px;
                        height: 60px;
                        line-height: 40px;
                    }

                }

                a:hover{
                }
}