/* :: Hero */

.welcome-slides {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.welcome-area-index {
    overflow: hidden;
    margin-top: -8rem;
}

.welcome-area {
    overflow: hidden;
    margin-top: -5rem;
}

.lateral-text{
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: -5.7rem;
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

    h4{
        font-size: 20px;
        color: $primary;
        font-weight: 400;
    }
}

.img-puntos{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin-bottom: 5rem;
    margin-right: -1rem;
    width: 8px;
}


.img-landing{
    
    position: relative;
    margin-top: -13.5rem;
    object-fit: cover;
    width: 102%;
    margin-left: -1rem;
    height: 110%;
    max-width: 150%;
    max-height: 150%;
    z-index: 0;

    @media #{$breakpoint-xs} {
        width: 160%;
        max-width: 200%;
        margin-left: -7rem;
        margin-top: -1rem;
    }
}


.welcome-text {
        position: relative;
        z-index: 1;

        @media #{$breakpoint-xs} {
            text-align: center;
        }

        h2 {
            font-size: 52px;
            width: 95%;
            margin: 30px 0;
            margin-top: 60px;
            color: $white;
            font-weight: 200;
            line-height: 1; 

            @media #{$breakpoint-xs} {
                font-size: 28px;
                width: 85%;
                margin-left: auto;
                margin-right: auto;
            }

            span {
               font-weight: 500; 
            }
        }

        h5 {
            font-size: 22px;
            color: $secondary;
            margin-bottom: 60px;
            display: block;
            @media #{$breakpoint-lg} {
                font-size: 18px;
                margin-bottom: 40px;
            }
            @media #{$breakpoint-md} {
                font-size: 14px;
                margin-bottom: 40px;
            }
        }

        p {
            font-size: 18px;
            color: $white;
            font-weight: 400;
            line-height: 1;
            width: 75%; 

            @media #{$breakpoint-xs} {
                    font-size: 18px;
                    width: 79%;
                    margin-top: 2rem;
                    line-height: 1.5;
                    margin-left: auto;
                    margin-right: auto;
            }


            span {
                color: $primary;
            }
        }

                
        .puntos-h{
            width: 130%;
            max-width: 200%;
            position: absolute;
            z-index: -1;
            margin-top: -18rem;
            right: 0;
            margin-right: -42rem;

            @media #{$breakpoint-xs} {
                width: 150%;
                margin-top: -7rem;
                margin-right: -20rem;  
            }
        }

        .moneda{
            position: absolute;
            z-index: 2;
            right: 0;  

            @media #{$breakpoint-xs} {
                display: none;
            }

            &.a{
                width: 15%;
                margin-top: -18rem;
                margin-right: -14rem;
                -webkit-animation: mover 3s infinite  alternate;
                animation: mover 3s infinite  alternate;
            }

            &.b{
                width: 17%;
                margin-top: -12rem;
                margin-right: -27rem;
                -webkit-animation: mover 3.1s infinite  alternate;
                animation: mover 3.1s infinite  alternate;

                @media #{$breakpoint-xs} {
                    display: block;
                    margin-top: -23rem;
                    margin-right: 4rem;
                }

            }

            &.c{
                width: 19%;
                margin-top: -4rem;
                margin-right: -15rem;
                -webkit-animation: mover 3.2s infinite  alternate;
                animation: mover 3.2s infinite  alternate;
            }

            &.d{
                width: 16%;
                margin-right: -4rem;
                -webkit-animation: mover 3.3s infinite  alternate;
                animation: mover 3.3s infinite  alternate;
            }

            &.mov-1{
                width: 25%;
                margin-right: 3rem;
                margin-top: 2rem;
                display: none;
                -webkit-animation: mover 3.4s infinite  alternate;
                animation: mover 3.4s infinite  alternate;

                @media #{$breakpoint-xs} {
                    display: block;
                }
            }

            &.mov-2{

                width: 18%;
                margin-left: 3rem;
                margin-top: 2.5rem;
                left: 0;
                display: none;
                -webkit-animation: mover 3.5 infinite  alternate;
                animation: mover 3.5 infinite  alternate;
                @media #{$breakpoint-xs} {
                    display: block;
                }
            }

        }


        @-webkit-keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-6px); }
        }
        @keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-6px); }
        }


        .plus{
            position: absolute;
            z-index: 2;
            right: 0;

            @media #{$breakpoint-xs} {
                display: none;
            }

            &.a{
                width: 5%;
                margin-top: -13rem;
                margin-right: -18rem;
            }

            &.b{
                width: 2%;
                margin-top: -7rem;
                margin-right: 1rem;
            }

            &.c{
                width: 5%;
                margin-top: -5rem;
                margin-right: -1rem;
            }

            &.d{
                width: 2.5%;
                margin-top: -7rem;
                margin-right: -18.5rem;
            }

        }

        .chevron{
            position: absolute;
            z-index: 2;
            right: 0;

            &.a{
                width: 3%;
                margin-top: -15rem;
                margin-right: -6.5rem;
                -webkit-animation: mover-x 1s infinite  alternate;
                animation: mover-x 1s infinite  alternate;
            }

            &.b{
                width: 6%;
                margin-top: -3rem;
                margin-right: -20rem;
                -webkit-animation: mover-x 1.2s infinite  alternate;
                animation: mover-x 1.2s infinite  alternate;
            }

        }

        @-webkit-keyframes mover-x {
            0% { transform: translateX(0); }
            100% { transform: translateX(-3px); }
        }
        @keyframes mover-x {
            0% { transform: translateX(0); }
            100% { transform: translateX(-3px); }
        }

}

.single-welcome-slide {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 900px;
    background-color: $white;

    @media #{$breakpoint-lg} {
        height: 750px;
    }

    @media #{$breakpoint-md} {
        height: 600px;
    }

    @media #{$breakpoint-xs} {
        height: 900px;
    }

    @media #{$breakpoint-sm} {
        height: 1000px;
    }

    .background-curve {
        position: absolute;
        width: 70%;
        top: 0;
        height: 100%;
        right: 0;
        z-index: -1;

        img {
            width: 100%;
            height: auto;
            background-repeat: no-repeat;
        }
    }

    
    
    .welcome-thumbnail {
        @media #{$breakpoint-xs} {
            margin-top: -120px;
        }
    }
}