// Heading Color
$heading:  #0B0E17;

// Text Color
$text:  #0B0E17;

// Gray Background
$bg-gray: #3D4F4E;

// Gray
$c-gray: #0B0E17;

// Primary Color
$primary: #0035c7;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #0055ff;

// Secondary Color
$secondary: #0055ff;

// tersiary Color
$tersiary: #0035c7;
